<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>au.com.myriad-com.lib.Myriad-Tables</string>
	<key>CFBundleName</key>
	<string>Myriad Tables Lib</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0.13</string>
	<key>CFBundleVersion</key>
	<string>67</string>
	<key>NSHumanReadableCopyright</key>
	<string>© 2016-23 Shane Stanley</string>
	<key>OSAScriptingDefinition</key>
	<string>ScriptingDictionary</string>
</dict>
</plist>
